body {
    text-align: left;
    padding: 0;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 15px;
    background-color: rgb(223, 239, 243);
}

.container{
    max-width: 1024px;
    width: 1024px;
    padding: 0 0 10% 5%;
}

.contact {
    text-align: left;
    display: inline-block;
    width: 50%;
}

img {
    border-radius: 10%;
    width: 50%;
}

.photo {
    padding-top: 5%;
    vertical-align: top;
    display: inline-block;
    position: relative;
    width: 40%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.6rem;
}

ul {
    list-style-type: none;
}

pre {
    border-left: 5px solid rgb(33, 21, 65);
    width: 500px;
    background-color: rgb(190, 226, 240);
}

:any-link {
    color: rgb(15, 16, 61);
}
